doctype html
html(lang="en")
head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title= resume.name
    link(rel="stylesheet" href="https://the.missing.style/v1.0.5/missing.min.css")
    style.
        :root {
            --main-font: 'Merriweather Sans';
            --line-length: 65ch;

            font-size: initial;

            hyphens: auto;
        }

        @media print {
            @page {
                margin: 1.5cm;
            }

            :root {
                --line-length: calc(210mm - 6cm);
                font-size: 8pt;
            }

            a {
                color: inherit;
                text-decoration: inherit;
            }

            header {
                margin-top: 0;
            }
        }

        header {
            border: none;
            margin: 0;
        }

        time { font-family: var(--secondary-font); }

        ul {
            list-style: '\2013'; /* en dash, en space */
        }

        v-h { display:inline-block }

        .font-weight\:bold   { font-weight:bold   }
        .font-weight\:normal { font-weight:normal }
        .text-align\:end     { text-align:end     }

body.container.h-resume

    header
        h1.p-name(lang="tr")= resume.name

        p
            address.p-contact.h-card.dense
                span.p-name(hidden)= resume.name
                | #[a.u-email(href="mailto:<%= resume.email %>")= resume.email]
                | &middot; #[a.u-url.u-uid(href=resume.url)= resume.url]
                | &middot; Phone number and address available upon request

    mixin date-range(start, end)
        -
            function print_date(date) {
                const 
                [yyyy, mm] = date.toString().split("-"),
                mmm = mm ? [
                    "Jan.", "Febr.", "Mar.", "Apr.", "May", "Jun.", "Jul.", "Aug.", "Sept.", "Oct.", "Nov.", "Dec."
                ][mm - 1] : ""
                return mmm + " " + yyyy
            }
        span(class="float:right font-weight:normal") 
            if start
                time.dt-start(datetime=start)= print_date(start)
            | &ndash;
            if end
                time.dt-end(datetime=end)= print_date(end)
            else
                -
                    const 
                    now = new Date, yyyy = now.getFullYear(),
                    mm = (now.getMonth() + 1).toString()
                time.dt-end(datetime=yyyy+mm) Present

    mixin org(organization)
        a.p-location.h-card(href=organization.url)
            span.p-name= organization.name
            if organization.region
                |, #[span.p-counry-name= organization.region]
            if organization.country_name
                |, #[span.p-country-name= organization.country_name]

    mixin activity-log(activities)
        for exp in activities
            article.p-experience.h-event.box
                h3
                    +date-range(exp.start, exp.end)
                    v-h &mdash;
                    span.p-name= exp.position
                    |, #[+org(exp.organization)]
                div.e-content
                    ul(style="margin:0")
                        for c of exp.content
                            li!= c
                    ul.tool-bar.margin-block(role="list")
                        for c of exp.skills
                            li= c

    section#summary
        p!= summary

    section#education
        h2 Education
        for edu of resume.education
            .p-education.h-event.box
                h3
                    +date-range(edu.start, edu.end)
                    v-h &mdash;
                    | #[span.p-name= edu.degree],
                    |  #[+org(edu.organization)]
                .e-content
                    ul
                        for c in edu.content
                            li!= c

    section#experience
        h2 Experience
        +activity-log(resume.experience)

    section#skills
        h2 Skills
        for skills, skillCat in resume.skills 
            div.tool-bar.margin-block(style="gap: calc(.5 * var(--gap));")
                h3.packed(class="<h5>")= skillCat
                ul.contents(role="list")
                    for skill of skills
                        li.p-skill= skill
        p #[em Each category sorted by competence]

    section#other
        h2 Other activities
        +activity-log(resume.other)

    section#references
        h2 References
        p #[i Contact info available on request]
        ul
            for ref in resume.references
                li= ref
