doctype html
html(lang="en")
head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title= resume.name
    link(rel="stylesheet" href="https://the.missing.style/v0.1.0/missing.min.css")
    style.
        :root {
            --main-font: 'iosevka aile';
            --line-length: 80ch;
            --accent: #656565;
            --bg: #ffeeee;

            font-size: initial;

            hyphens: auto;
        }

        @media print {
            @page {
                margin: 1.5cm;
            }

            :root {
                --line-length: calc(210mm - 6cm);
                font-size: 8pt;
            }

            a {
                color: inherit;
                text-decoration: inherit;
            }

            header {
                margin-top: 0;
            }
        }

        header {
            border: none;
            margin: 0;
        }

        h2 {
            font-size: 1em;
            line-height: var(--rhythm);
            font-weight: normal;
            text-transform: uppercase;
            letter-spacing: 1ch;
            border-bottom: 1px solid;
        }

        h3 {
            font-size: 1em;
        }

        time { font-family: var(--secondary-font); }

        ul {
            list-style: '\2013'; /* en dash, en space */
        }

        .font-weight\:bold   { font-weight:bold   }
        .font-weight\:normal { font-weight:normal }

body.container.h-resume

    header
        h1.p-name.f-row= resume.name

        p
            address.p-contact.h-card.dense
                span.p-name(hidden)= resume.name
                | #[a.u-email(href="mailto:<%= resume.email %>")= resume.email]
                | &middot; #[a.u-url.u-uid(href=resume.url)= resume.url]
                | &middot; Phone number and address available upon request

    mixin date-range(start, end)
        span(class="float:right font-weight:normal") 
            time.dt-start= start
            | &ndash;
            if end
                time.dt-end= end
            else
                - const now = new Date, yyyy = date.getFullYear(), mm = (date.getMonth() + 1).toString().padStart(2, "0")
                time.dt-end(datetime=yyyy+mm) Present

    mixin org(organization)
        a.p-location.h-card(href=organization.url)
            span.p-name= organization.name
            if organization.region
                |, #[span.p-counry-name= organization.region]
            if organization.country_name
                |, #[span.p-country-name= organization.country_name]

    section#education
        h2 Education
        for edu of resume.education
            .p-education.h-event.packed
                h3
                    | #[span.p-name= edu.degree],
                    |  #[+org(edu.organization)]
                    v-h &mdash;
                    +date-range(edu.start, edu.end)
                .e-content
                    ul
                        for c in edu.content
                            li!= c

    section#experience
        h2 Experience
        for exp of resume.experience
            .p-experience.h-event.margin-block
                h3
                    span.p-name= exp.position
                    |, #[+org(exp.organization)]
                    v-h &mdash;
                    +date-range(exp.start, exp.end)
                div.e-content
                    ul(style="margin:0")
                        for c of exp.content
                            li!= c
                    ul.tool-bar.margin-block(role="list" class="justify-content:end" style="margin:0")
                        for c of exp.skills
                            li= c

    section#skills
        h2 Skills
        for skills, skillCat in resume.skills 
            div.tool-bar.margin-block(style="gap: 0 var(--gap);")
                h3.packed(class="<h5>")= skillCat
                ul.contents(role="list")
                    for skill of skills
                        li.p-skill= skill
        p &dagger; No professional experience. &ddagger; Little experience.

    section#references
        h2 References
        p #[i Contact info available on request]
        ul
            for ref in resume.references
                li= ref
